body {
    margin: 0;
    font-family: 'Raleway', sans-serif;


}


.nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(16, 16, 16);
    height: 100px;
    margin-bottom: 80px;

}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 20px;

}


.logo {
    width: 60px;
    margin-top: -20px;
}

a {
    text-decoration: none;
    color: rgb(11, 11, 11);
    color: white;
}


.hero-section {
    height: 100px;
    width: 100%;
    border: 15px;
    border-color: black;
}

.container {
    width: 20%;
    position: relative;
    transition: transform 500ms;
    border: 55px;
    border-color: black;

}

.container img {
    width: 105%;
    height: 105%;
    opacity: 1;
    height: auto;
    transition: .5s ease-in-out;
    display: block;
}



.row {
    display: flex;
    border-top: 55px;
    border-color: black;
}

.row .container:focus,
.row .container:hover {
    transform: scale(1.5);
    z-index: 1;
}

.middle {
    background-color: rgb(162, 46, 46);
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 15px;
    padding: 16px 32px;


}

.producto {
    margin-top: 254px;
}

.aii {
    margin-top: 244px;
    color: rgb(10, 10, 9);
    font-size: 44px;
    margin-bottom: -5px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: -10px 0;
    width: 100%;
    margin-top: 1300px;
    font-size: 30px;
    background-color: rgb(13, 13, 12);
}

.spacer {
    /* background-color: rgb(15, 15, 15); */
    height: 200px;
    width: 100%;
    padding-top: 500px;
}





@media only screen and (max-width: 1500px) {
    .text {
        font-size: 10px;
        padding: 32px 16px;
    }



    .footer {
        position: relative;
        bottom: 0;
    }
} 


@media only screen and (max-width: 675px) {

    .nav {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: rgb(16, 16, 16);
        height: 90px;
        margin-bottom: 70px;
        padding-right: 40px

    }

    li {
        list-style-type: none;
        padding: 20px;

    }

    .extra-item {
        display: none;
    }

    .container {
        width: 100%;
    }

    .row .container:focus,
    .row .container:hover {
        transform: none;
        /* z-index: 1; */
    }

    .spacer {
        /* background-color: rgb(15, 15, 15); */
        padding-top: 140px;
    }


    .footer {
        display: flex;
        justify-content: center;
        margin-top: 1600px;
        background-color: rgb(172, 172, 112);
    }

    .footer p {
        font-size: 12px;
        margin: 20px 20px;
        display: flex;
        justify-content: center;
    }

    .text {
        font-size: 32px;
        padding: 32px 16px;
    }

    .aii {
        margin-top: 44px;
        color: rgb(10, 10, 9);
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
    }

    .logo {
        width: 40px;
        margin-top: -10px;
    }



    .container {
        width: 20%;
        position: relative;
        transition: transform 500ms;
        border: 55px;
        border-color: black;

    }

    .producto {
        margin-top: 54px;
    }

}